/*Paleta #1 de colores  */
.orange1{
  background-color:#ffab07;
}
.orange2{
  background-color: #ff9036;
}
.orange3{
  background-color: #fc770b;
}
.yellow1{
  background-color: #e9d558;
}
.green1{
  background-color: #72ad75;
  color: black;
}
.green2{
  background-color: #00754d;
  color: white;
}
.blue1{
  background-color: #0e8d94;
}
.gray2{
  background-color: #f1f1f1;
  color: #433d53;
}
/*_*.*Font *.*_*/
.gray1{
  color: #433d53;
}
