/*Paleta #1 de colores  */
.orange1{
  background-color:#ffab07;
}
.orange2{
  background-color: #ff9036;
}
.orange3{
  background-color: rgb(252, 119, 11);
  background-color: #fc770b;

}
.orange4{
    background-color: #F54828;
}
.orange5{
    background-color: #FF9036;
}
.orange6{
    background-color: ;
    color:  #F0A830;
}
.yellow1{
  background-color: #e9d558;
}
.green1{
  background-color: #72ad75;
  color: black;
}
.green2{
  background-color: #00754d;
  color: white;
}
.blue1{
  background-color: #0e8d94;
}
.blue2{
    background-color: #6a89c6;
}
.gray2{
  background-color: #f1f1f1;
  color: #433d53;
}
/*_*.*Font *.*_*/
.gray1{
  color: #433d53;
}
.gary3{
    background-color: #FEFEFE;
    background-color: rgb(254, 254, 254);
    color: #EBEBEB;
}
.gray4{
    background-color: #EAEAEA;
}
.black1{
    background-color: #1F2122;
    background-color: rgb(31, 33, 34);
    color: #D0D5D7;
}

.white1{
    background-color: #F6F6F6;
}
