@import url('https://fonts.googleapis.com/css?family=Arimo|Catamaran|Montserrat|Noto+Sans|PT+Sans|Cabin|Robot');

body{
  margin: 0;
  background-color: rgba(247, 252, 255, 0);
  }
.menu{
  width: 100%;
  height: auto;
  background-color: #13b097;
  margin-top: -1.5%;
  position: fixed;
  z-index: 1000;
}
.logo--menu{
  width: 20%;
  margin-left: 5%;
  position: fixed;
}
.logo--img{
  width: 65px;
  height: 50px;
}
.container--menu{
  margin-left: 20%;
  font-family: 'Roboto',sans-serif;
  z-index: 300px;
}
.container--menu2{
  margin-left: 80%;
  font-family: 'Roboto',sans-serif;
  z-index: 300px;
}
.menu a{
  display: block;
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 13px 14px;
}
.menu a:hover{
      background-color: #bdebe3;
  color: rgb(0, 0, 0);
}

/*Está es la parte del slide en css*/
.one-slide{
  width: 100%;
  justify-content: center;
  background-color: gray;


}
.Slides {display:none}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  margin-top: 4.5%;

}
.img-c{
  width: 100%;
  height:450px;

}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 4px;
  margin-left: 45%;
  margin-bottom: 11%;
  font-size: 20px;
  font-family:'Arimo',sans-serif;
}

/* numerador de texto (1/3 etc) */
.numerador {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.wrap-info{
    position: absolute;
    height: 473px;
    width: 220px;
    overflow: visible;
}
.content-info{
    z-index: 5;
    width: 100%;
    margin-top: -10%;
    padding-left: 20%;
    color: #ffffff;

}
.info{
    background-color: rgb(0, 0, 0);
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 475px;
    opacity: 0.8;
    justify-content: flex-start;
}

/*El indicador*/
.pont{
  height: 15px;
  width: 15px;
  margin: 0 6px;
  background-color: #c9c9c9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #13b090;
}

@keyframes raz {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*sesión two*/

.tuto{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.tuto1,.tuto2,.tuto3{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    margin:3px 3px 3px 3px;
}
/*Aca termnina la parte del slide */
/*Está es la parte de registro */

.setregistrarse{
    margin-top: 60.5px;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
}
.formpart{
    background-color: rgb(255, 255, 255);
    margin: 4px;
    margin-top: 2px;
    width: 50%;
    border-radius: 6px;
    padding: 5px 5px;
    font-family:'Roboto', sans-serif;
}
.content-form{
    display: flex;
    padding: 5px;
}
.formtext{
    background-color: rgba(241, 227, 227, 0.06);
    font-family: sans-serif;
    justify-content: center;
    width: 50%;
    opacity: 0.8;
}
.regis{
    margin: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(170, 170, 170);
}
.btntnt{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid #faac00;
    padding: 14px 30px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin: 4px 2px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 4px;
    width: 20%;

}
.btntnt:hover{
    background-color: #faac00;
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.3);
}

#registro{
  margin-top: 2.5%;
}
 label {
    display: block;
    font-size: 16px;
    color: #010101;
    margin-bottom: 8px;

}

input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
select{
    margin: 5px 3px;
    width: 90%;
    padding: 11px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 6px ;
    line-height: 1.20;
    font-size: 13px;
    outline: none;
}
input[type=text]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus{
    border-color:#ff8200;
    transition: 0.4s;

}

.required::after{
    content: " * ";
    color: #fa7000;
}
.opcional::after{
    content: " (Opcional) ";
    color: rgb(191, 191, 191);
    font-family: 'Cabin';
}
.tlt{
    color: rgb(140, 140, 140);
    font-size:65px;
    margin: 15px;
    letter-spacing: 0.5px;
    font-family: 'Noto sans', sans-serif;
}

.secttwo{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(254, 160, 0);
}
/*Está es la parte del login*/

.login--form{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.container-form{
    padding: 10px;
}
.modal-content{
    background-color: #ececec;
    margin: 10% auto 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 28%;
    font-family:'Roboto', sans-serif;
}
.container-img{
    text-align: center;
    position: relative;
    margin: -15px 0 20px 0;
}

.close{
    position: absolute;
    top: 0;
    right: 25px;
    color: #aaa;
    font-size: 35px;
}
.close:focus,.close:hover{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.login--form input[type=email],
.login--form input[type=password]{
    border: 1px solid rgb(182, 182, 182);
    margin: 6px ;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 12px;
    border-radius: 6px;
    outline: none;
    font-size: 13px;
}
.btnsave{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border:1px solid transparent;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.25;
    border-bottom:
    transition: all .15s ease-in-out;
    outline: none;
    cursor: pointer;
    width: 45%;
    background-color: #f99d00;
    top:5px;

}
.btnsave:hover{
    box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.3);
}
.botns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/*keyframes login*/
.anima{
    animation: animatezoom 0.5s;
}
@keyframes animatezoom {
    from {transition: scale(0)}
    to{transform: scale(1)}

}
/*finalizo la parte del login*/
