@import "reset.css";
@import "color.css";
@import url('https://fonts.googleapis.com/css?family=Arimo|Catamaran|Montserrat|Noto+Sans|PT+Sans|Cabin|Robot');


section.container1S{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color:  #f1f2f2;
}
.main--nav{
    max-width: 170px;
    min-width: 170px;
    min-height: 100vh;
    border-bottom: 3px solid darkorange;

}
.main--nav nav ul{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #323232;
    border-bottom:1px solid #323232;
    /* margin-bottom: 40px; */
    padding-bottom: 30px;
}
.main--nav nav ul a li{
    padding: 10px;
    padding-left:20px;
}
.main--nav nav ul a li:hover{
    background-color: #f2f4f4;
    color:  #1F2122;
    border-left: 5px solid darkorange;
    transition: 0.4s all;
}

.wrap--content{
    width: 100%;
}
.wrap--content .menuS--top{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    background-color: #FEFEFE;
    border-bottom: 1px solid rgba(161, 161, 161, 0.63);
}
.wrap--content .menuS--top ul{
    width: 200px;
    display: flex;
    justify-content: space-around;
    /* font-size: 15px; */
}
/*-*.*está es la parte del menu top*.*-*/
.content-profile {
  position:fixed;;
  left: 1090px;
  color: #121212;
}
.menu--top ul{
  width: 180px;
  display: flex;
  justify-content: space-around;
  list-style-type:none;
  /*position: fixed;*/
}
ul{
  text-decoration: none;
}
.menu--top li i:hover{
  background-color: inherit;
  color:white;
  cursor: pointer;
}
.wrap--content .wrap--in{
    background-color: #fefefe;
    width: 95%;
    /* padding: 20px; */
    box-sizing: border-box;
    margin: 30px auto;
    /* height: 40vh; */
}
.wrap--content .wrap--in header{
    border-bottom: 1.5px solid rgba(161, 161, 161, 0.63) ;
}
.wrap--content .wrap-info{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 95%;
}
.wrap--content .wrap-info .wrap-fa header,
.wrap--content .wrap-info .wrap-sell header{
    border-bottom: 1px solid rgba(161, 161, 161, 0.63);
    padding: 5px;
}
.wrap--content .wrap-info .wrap-fa p,
.wrap--content .wrap-info .wrap-sell p{
    padding: 10px ;
}
.wrap--content .wrap-info .wrap-fa,
.wrap--content .wrap-info .wrap-sell{
    background-color: #FEFEFE;
    width: 48%;
    border: 1px solid rgba(161, 161, 161, 0.63);
}
/*finaliza menú top*/

/*.content-admin{
    margin-top: 50px;
}*/

/*-*.*Este es el articulo *.*-*/

.modules{

}
.wrap--content article .wrap--btns{
    display: flex;
    justify-content: flex-end;
    padding-bottom:  2rem;
    /*position: absolute;*/
    /*grid-template-columns: repeat(3,1fr)*/
}
.wrap--content article .wrap--btns ul{
  display: flex;
}
.wrap--content article .wrap--btns ul li{
  background-color: #ffad07;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  color: #000;
  margin-right: 10px;
}

.wrap--content article{
  background-color: white;
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  margin: 100px auto;
  border-radius: 3px;
  color: rgb(0, 0, 0);
}


/*-*.* finaliza el articulo *.*-*/

/*_*.*Responsi de la vista admin *.*_*/
@media (max-width: 1200px){


  .dataTables_length select{
      padding: 3px;
      border-radius: 1px;
      outline: none;
      width: 40%;
  }
   input[type=search]{
      padding: 4px 4px;
      outline: none;
      border-radius: 3px;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 1rem;
      border: 2px solid #c3c3c3;
      outline: none;
  }

}
@media (max-width:900px){

}

@media (max-width: 600px) {
  .wrap--datagrid #dataGrid{
    background-color: rgb(0, 231, 255);
  }

}
@media (max-width: 360px) {

input[type=file]{
  display: block;
  width: 70%;
}
  input[type=text],
  input[type=number],
  textarea{
    padding: 6px;
    border-radius: 1px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
  }
  select{
    padding: 7px;
    border-radius: 4px;
    outline: none;
    width: 100%;

  }
  .frmbtn{
    padding: 8px 10px;
    width: 100%;
    margin: 25px 0px ;
    outline: none;
    right:  10px;
    background-color: white;
    text-decoration: none;
    border: 2px solid #ff9036;
    border-radius: 4px;
  }
  header .breadcrums ul{
      font-size: 16px;
      align-items: center;
      display: flex;
      padding: 4px 0px;
      color: #433d53;
  }
  input[type=search]{
     padding: 4px 4px;
     outline: none;
     border-radius: 6px;
     text-decoration: none;
     list-style-type: none;
     margin-bottom: 1rem;
     border: 1px solid #c3c3c3;
     /* width: 20%; */
 }
 header  h1{
  letter-spacing: -1px;
  font-size: 2rem ;
  padding-bottom: 20px;
  color: #433d53;
}
.wrap--datagrid{
display: none;

}
}
