@import "reset.css";
@import "color.css";
/*@import "responsicliente.css";*/
@import url('https://fonts.googleapis.com/css?family=Arimo|Catamaran|Montserrat|Noto+Sans|PT+Sans|Cabin|Robot');

section.container1k{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #f2f4f4;
}
/*-*.*Menú principal*.*-*/
.main--nav{
    max-width: 170px;
    min-width: 170px;
    min-height: 100vh;
    border-bottom: 3px solid darkorange;
}
.userProfile{
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
.userProfile--img{
    width: 70%;
    margin: 0 auto 20px;
}
.main--nav .info--nav nav ul{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #323232;
    /* box-shadow: 0 -5px 0 #d1d1d1; */
    margin-bottom: 40px;
}
 .main--nav .info--nav2 nav ul{
     border-top: 1px solid #323232;
     border-bottom: 1px solid #323232;
    padding-top: 20px;
    padding-bottom: 40px;
 }
.main--nav nav ul a li{
    padding: 10px;
}

.main--nav nav ul a li:hover{
    background-color: #f2f4f4;
    color:  #1F2122;
    border-left: 5px solid darkorange;
    transition: 0.4s all;
}

.wrap--content{
    width: 100%;
}
.wrap--content .menu--top{
    display: flex;
    justify-content:flex-end;
    padding: 20px 0;
    background-color: #FEFEFE;
}

.wrap--content .menu--top ul{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.wrap--content article{
    background-color: #fefefe;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    margin: 30px auto;
    border-radius: 10px;
    color: #EBEBEB;
}
/*-*.* Fin de Menú principal*.*-*/
