/*@import "reset.css";*/
@import "color.css";
@import url('https://fonts.googleapis.com/css?family=Arimo|Catamaran|Lato|Montserrat|Noto+Sans|PT+Sans|Raleway|Roboto:100,300,400 ');
body{
  margin: 0;
  background-color: rgba(247, 252, 255, 0);
  }

.beach{
    height: 699px;
    /*background-color: #929293;*/
    background-color:rgb(190, 190, 190);
    background-size: cover;
    margin-top: -3px;
}
.beach:first-child {
    margin-top: 0;
}
.beach2{
  height: 800px;
  background-size: cover;
  margin-top:0px;
}
.beach2:last-child{
    margin-top: 0px;
}
.beach3{
    background:rgb(255, 255, 255) ;
    background-size: cover;
    height: 620px;
}

h1 .toll{
    font-size: 2rem;
    color: rgb(191, 142, 15);
}


/*-*. Está esla parte de los supermercados .*-*/
/* ------------------------------------------ */
.setsupermercados{
    margin-top: 10.5px;
    width: 50;
    height: 620px;
    background-color: linear-gradient(to bottom, #000000 0%, #000000 100%);

}
 .setsupermercados header{
    height:  45vh;

}
picture  h1{

    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 170px;
    margin-left:  110px;
    margin-bottom: 0px;
    font-family:"Catamaran", sans-serif;
    font-size: 2.8em;
    position: absolute;
    border-bottom: 1px solid rgb(254, 254, 254);
    letter-spacing: 1px;

}

.setsupermercados header picture img{
    height: 100%;
    width: 100%;
    border-radius: 3px;

    /* background-color:linear-gradient(to bottom, #000000 0%, #000000 100%); */
}

.primerBloque{
    text-align: center;
}
.primerBloque .supermercadoTitulo{
    font-size: 1.3em;
    font-weight: 400;
    color: #6E6662;
    font-family: 'Roboto',sans-serif;
    margin: 30px 15px 15px 20px ;
}
.supermercadoTitulo span{
    /* color: #FF9036; */
    color: #F0A830;
    font-size: 1.3em;
}
.BuscarSuper input{
    outline: none;
    width: 350px;
    padding: 8px 30px;
    border:1px solid rgb(182, 182, 182) ;
    border-radius: 8px;
    line-height: 1.20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
/*-*.*2 Aca  finaliza la parte de los supermercados *.*-*/
/* --------------------------------------------------- */


.menu{
  width: 100%;
  height: 55px;
  background-color: #000000;
  margin-top: -1.5%;
  position: fixed;
  z-index: 1000;
  opacity: 0.8;
}
.icon--mobile {
  color: white;
  display: none;
  font-size: 35px;
  margin: 7px 0px 7px 12px;

}
.icon--mobile .menu-res{
  display: none;
}
.logo--menu {
  width: 13%;
  margin: 0px 60px;
  position: fixed;
  z-index: 20000;
}
.logo--img{
  width: 75px;
  height: 50px;
}
.container--menu{
  margin-left: 20%;
  font-family: 'Roboto',sans-serif;
  z-index: 300px;
}
.container--menu2{
  margin-left: 80%;
  font-family: 'Roboto',sans-serif;
  z-index: 300px;
}
.menu a{
  display: block;
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
}
/*.menu a:hover{
}*/
.menu a:hover{
      background-color: #00604d;
      color: white;
      cursor: pointer;
}
/* Finaliza la parte del menu */
/* ------------------------------ */

/*Está es la parte del slide en css*/
/* ------------------------------------  */
.one-slide{
  width: 100%;
  justify-content: center;
  background-color: rgb(190, 190, 190);
  /*opacity: 0.5;*/


}
.Slides {display:none}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  margin-top: -3%;
  /*margin: -2% auto 0% auto;*/

}
.img-c{
  width: 100%;
  height:665px;
}

.wrap-info{
    position: absolute;
    height: 578px;
    width: 100%;
    overflow: visible;
    margin-top:10%;

}
.content-info{
    z-index: 3;
    width: 100%;
    margin-top: -8.5%;
    color: #ffffff;

}
.info{
    background-color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 655px;
    margin-top:2.7%;
    opacity: 0.8;
}
   h1.infowel{
    /* position: sticky; */

    text-align: center;
    margin:30px   50px 50px   ;
    letter-spacing: 5px;
    padding-right: 4.7em;
    left: 40%;
    font-size: 2.9em;
    margin: .75em 0;
    pointer-events: none;
    font-family: 'Raleway',sans-serif;
    color:rgb(254, 254, 254) ;
    padding-top: 20px;
}

 .info p{
  text-align: center;
  margin: 0px 45px 0px 45px;
  color:#fff;
  display: block;
  justify-content: space-around;
  font-size: 28px;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  margin-top: 180px;

}
.info p span{
    color: #DDA917;
}

 .starbtn{
  text-decoration: none;
  padding: 7px 7px ;
  font-size: 1.1rem;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  border: 2px solid  darkorange;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
  margin-top: 100px;
  top: 230px;
  left: 40%;
}
.starbtn:hover{
  color: #f1f1f1;
  background-color: darkorange;

}

/*El indicador*/
.indicator{
    text-align: center;
}
.pont{
  height: 15px;
  width: 15px;
  margin: 0 6px;
  background-color: #c9c9c9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #ffab07;
}

@keyframes raz {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*sesión two*/

/*Aca termnina la parte del slide */
/*Está es la parte de registro */

.setregistrarse{
    margin-top: 60.5px;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);

}

.formpart{
    margin: 45px 0px 0px 0px;
    width: 50%;
    padding: 5px 5px;
    font-family:'Roboto', sans-serif;
    display: block;
}
.content-form{
    display: flex;
    padding: 5px;
    /* margin: 0px 40px 0px 40px; */
    justify-content: flex-start;
}

.formtext{
    background-color: rgba(241, 227, 227, 0.06);
    font-family: sans-serif;
    justify-content: center;
    width: 50%;
    margin: 180px 10px;
    opacity: 0.8;
}
.tlt{
  color: rgb(140, 140, 140);
  font-size:65px;
  margin: 40px 20px 0px 45px;
  letter-spacing: 0.5px;
  font-family: 'Noto sans', sans-serif;
}
#registro{
  margin-top: 1.0%;
  background-size: cover;
  /*background-color: green;*/
  height: 100%;
}
.text-inf{
  margin: 0px 16px 0px 45px;
}
.regis{
    /*margin-top:-10px;*/
    margin: 8px 15px ;
    padding-bottom: 10px;
    border-bottom: 2px solid #faac00 ;
    font-size: 25px;
    font-family: 'Noto_Sans', sans-serif;
}
#recaptcha{
    margin: 15px 15px 0px;
}

.btntnt{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid #faac00;
    padding: 14px 30px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin: 20px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 4px;
    width: 30%;

}
.btntnt:hover{
    background-color: #faac00;
    color: rgb(0, 0, 0);
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.3);
}

input[type=text],
input[type=bigint],
input[type=email],
input[type=number]{
    margin: 5px 20px 1px;
    width: 70%;
    padding: 8px 30px;
    border: 1px solid rgb(182, 182, 182);
    line-height: 1.20;
    font-size: 14px;
    outline: none;
    display: block;
}

input[type=password]{
    margin: 5px 20px 1px;
    width: 70%;
    padding: 8px 30px;
    border: 1px solid rgb(182, 182, 182);
    line-height: 1.20;
    font-size: 14px;
    outline: none;
    display: block;
}
.form-gruop label {
  margin: 0px 20px 1px;
}
#genero{
    margin: 0px 41px 1px;
}

.new{
    margin: 5px 20px 1px;
    width: 76%;
    padding: 8px 30px;
    border: 1px solid rgb(182, 182, 182);
    line-height: 1.20;
    font-size: 14px;
    outline: none;
    display: block;
}
#gender{
    margin: 5px 46px 1px;
    width: 111%;
    padding: 8px 30px;
    border: 1px solid rgb(182, 182, 182);
    line-height: 1.20;
    font-size: 14px;
    outline: none;
    display: block;
}
.city{
  width: 79%;
  display: block;
  outline:none;
  margin: 5px 20px 1px;
  padding: 8px ;
  border: 1px solid rgb(182, 182, 182);
  font-size: 14px;
  text-transform: uppercase;
}


input[type=text]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=bigint]:focus,
input[type=number]:focus,
input[type=password]:focus,select:focus{
    border-color:#ff8200;
    transition: 0.4s;
}

.required::after{
    content: " * ";
    color: #fa7000;
}
.opcional::after{
    content: " (Opcional) ";
    color: rgb(191, 191, 191);
    font-family: 'Cabin';
}

.secttwo{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(254, 160, 0);
}
/*.*-*finaliza registro.*-**/
/*.*-*regsitrosuper*-*.*/
.regigsup{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content-sup{
  background-color: #ececec;
  margin: 10% auto 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 28%;
  font-family:'Roboto', sans-serif;
}

/*Está es la parte del login*/

.login--form{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.container-form{
    padding: 10px;
    /*display: flex;*/
}
.modal-content{
    background-color: #ececec;
    margin: 10% auto 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 28%;
    font-family:'Roboto', sans-serif;
}
.container-img{
    text-align: center;
    position: relative;
    margin: -15px 0 20px 0;
}

.close{
    position: absolute;
    top: 0;
    right: 25px;
    color: #aaa;
    font-size: 35px;
}
.close:focus,.close:hover{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.login--form input[type=email],
.login--form input[type=password]{
    border: 1px solid rgb(182, 182, 182);
    margin: 6px ;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 12px;
    border-radius: 6px;
    outline: none;
    font-size: 13px;
}
.btnsave{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border:1px solid transparent;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.25;
    border-bottom:
    transition: all .15s ease-in-out;
    outline: none;
    cursor: pointer;
    width: 45%;
    background-color: #ffab07;
    top:5px;
}
.btnsave:hover{
    box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.3);
}
.botns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#mon{
    cursor: pointer;
}

/*keyframes login*/
.anima{
    animation: animatezoom 0.5s;
}
@keyframes animatezoom {
    from {transition: scale(0)}
    to{transform: scale(1)}

}
/*-*.* finalizo la parte del login*.*-*/
/*-*.* footer*.*-*/
.footer{
  background-color: #333333;
  height:;
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.copyright{
  width: 70%;
  margin: 10px 0px ;
  justify-content: center;
  display: flex;
  color: #6a88c5;
}
.copyright ul{
  list-style-type: none;
  display: flex;
}

.icons-footer {
  font-size: 17px;
  justify-content: space-between;
  color: #f1f1f1;
  width: 16%;

}

.icons-footer ul {
  margin-top: 10px;
  list-style-type: none;
  display: flex     ;
  justify-content: space-between;
  padding: 1px 1px 1px 0px;
}
/*-*.* Fin footer *.*-*/
