@import "reset.css";
@import "color.css";
/*@import "responsicliente.css";*/
@import url('https://fonts.googleapis.com/css?family=Arimo|Catamaran|Montserrat|Noto+Sans|PT+Sans|Cabin|Robot');

body{
  margin: 0;
  /*top: 0;
  padding: 0;*/
}
/*está es la parte del menu top*/
.menu--top{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 17px 0px;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  position: fixed;
  z-index: 10000;
}
.content-profile {
  position:fixed;;
  left: 1090px;
  color: #121212;
}
.menu--top ul{
  width: 180px;
  display: flex;
  justify-content: space-around;
  list-style-type:none;
  /*position: fixed;*/
}

ul{
  text-decoration: none;
}
li i:hover{
  background-color: inherit;
  color:white;
}
/*finaliza menú top*/
/* inicio info-map*/
.info-map{
  width: 100%;

}
#map{
  width: 60%;
  height: 80vh;
}
/* finaliza  info-map*/
/*parte more*/
.more{
      display: flex;
      width: 100%;
  /*margin-top: 0%;*/
}
.content-title{
  border-bottom: 1px solid #ffab07;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 15px;
}
.contentex ul{
  margin-top: 10px;
  display: block;
  padding: 10px 12px;
  font-family: 'Cavin',sans-serif;
}
.contentex ul li a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
}
/*.contentex ul li a:hover{
    background-color:orange;
    color: #000000;
}*/
.contentex ul li:hover{
    background-color: #ffab07;
    color: #433d53;
    border-left: 10px solid #ffab07;
    transition: 0.5s all ;
    cursor: pointer;
}

.mas{
  width: 20%;
  padding: 10px 5px;
  margin: 5px 20px;
  background-color: #f1f1f1 ;
  color: #434d53;
  border-radius: 8px;
}
/*content gallery*/
.gallery--content{
    width: 75%;
    background-color: #f1f1f1;
}
.supers{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    /*justify-content: space-between;*/
}

.card{
    width: 19rem;
}
.card-img-top{
    width: 300px;
    height: 200px;
}
.btn-go{
    background-color: #ffab07;
    padding:10px ;
    display: inline-block;
    border-radius: 6px;
    color: white;
}
.btn-go:hover{
    /*background-color: ;*/
    /*color: black;*/
    color: #433d53;
    cursor: pointer;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*_*.*responsive cliente*.*_*/
@media (max-width:1200px) {
    .gallery--content{
        width: 100%;
        border-radius: 6px;
    }
    .supers{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 1050px) {
    .supers{
        grid-template-columns: repeat(2,1fr);
        grid-gap:20px;
        width: 100%;
    }
    .card{
        width: 100%;
    }
    .card-img-top{
        width: 100%;
    }
}
@media (max-width: 800px) {
    .gallery--content{
        border-radius: 6px;
    }
    .supers{
        grid-template-columns: repeat(2fr);
        padding-right: 10px;
    }
    .mas{
    /*padding: 5px 2.5px;*/
    width: 28%;
    margin: 2px 8px;

    }
    .card{
        width: 100%;
    }
    .card-img-top{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .menu--top{
        padding: 20px 0px;
        align-items: flex-start;
    }
    .gallery--content{
        width: 100%;
    }
    h1{
        padding-bottom: 20px;
        text-align: center;
    }
    .supers{
        grid-template-columns: repeat(1,1fr);
        padding-right: 10px;
    }
    .card{
        width: 100%;
        /*height: 500px;*/
    }
    .card-img-top{
        width: 100%;
        height: auto;
    }
    .btn-go{
        width: 100%;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1.7rem;
    }
    .mas{
        display:none;
    }
}
@media (max-width: 360px) {
    .supers{
        grid-template-columns: repeat(1,1fr);
        padding-right: 10px;
        
    }
}
/**/

/*-*.**.*-*/
