@import "reset.css";
@import "color.css";
/*@import "responsicliente.css";*/
@import url('https://fonts.googleapis.com/css?family=Arimo|Catamaran|Montserrat|Noto+Sans|PT+Sans|Cabin|Robot');

section.container1C{
    display: flex;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    background-color: #fefefe;
}

/*está es la parte del menu top*/
/* --------------------------- */
.menu--top{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 17px 0px;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  /* position: fixed; */
  z-index: 10000;
}
.content-profile {
  position:fixed;;
  left: 1090px;
  color: #121212;
}
.menu--top ul{
  width: 180px;
  display: flex;
  justify-content: space-around;
  list-style-type:none;
  /*position: fixed;*/
}

ul{
  text-decoration: none;
}
li i:hover{
  background-color: inherit;
  color:white;
}
.wrap-menu-mobile, .left{
    display: none;
}
.wrap--content{
    width: 100%;
    display: flex;
}
.all{
    width: 15%;
    padding: 0px 5px;
    margin: 5px 12px;
    color: #434d53;
    border-radius: 2px;
    border: 1px solid rgba(161,161,161,0.63);
    /* border: 2px solid #ECECEC; */
}
.content-title{
    border-bottom: 1px dashed rgba(161,161,161,0.53);
    text-align: center;
    margin-top: 10    px;
    padding-bottom: 10px;
    background-color: #ECECEC;
}
.contentex ul{
    margin-top: 5px;
    display: block;
    padding: 5px 10px;
    font-family: 'Cavin',sans-serif;
}
.contentex ul li a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
}
.contentex ul li:hover{
    background-color:#ECECEC;
    color:#424C52;
    border-left: 20px solid #ECECEC;
    transition: 0.1s all ;
    cursor: pointer;
}
.content--content{
    margin-top: 5px;
    width: 80%;
    background: ;
    height: 100px;
    border-radius: 4px;
    border: 1px solid rgba(161,161,161,0.63);
}
/*_*.* finaliza Top menú y navigator*.*_*/
/* ------------------------------------ */
/*_*.* Esta es la parte de los ajutes*.*_*/
/* ------------------------------------ */
.module--Sett{
    background-color: white;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px auto;
    border-radius: 1px;
    border : 1px solid rgba(161,161,161, 0.93);
    font-family:  'Noto_Sans',sans-serif;
    color: #465661;
    display: flex;
    flex-direction: column;
}
.module--Sett h1{
    color: #465661;
    font-style: oblique;
    margin-bottom: 10px;
    text-align:  center;
}
.module--Sett .wrap-form .form-group{
    display: flex;
    flex-direction: column;
    margin: 15px auto;

}
.module--Sett .wrap-form .form-group input[type="text"],input[type="number"],input[type="date"],input[type="password"]{
    width: 45%;
    outline: none;
    margin: 5px 1px 1px;
    padding: 6px 30px;
    border: 1px solid rgb(182, 182, 182);
    line-height: 1.20;
}
.module--Sett .wrap-form .form-group .btnsave{
    width: 45%;
    margin-top: 15px;
    padding: 7px ;
}
.module--Sett .wrap-form .form-group .btnsave:hover{
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.3);
    background-color: blue;
    color: white;
}



/*_*.* Finaliza la parte de los ajutes*.*_*/
/* ------------------------------------ */

/* inicio info-map*/
/* ----------------- */
.clien-one{
    margin-top: 0px;
    height: auto;
}
#map{

    width: 90%;
    padding: 5px;
    height: 60vh;
    /* background-color: rgb(207, 127, 88); */
}


/*_*.* finaliza  info-map*.*_*/


/*content gallery*/
.gallery--content {
    margin: 5px;
    width: 75%;
    display: grid;
    /* background-color: #f1f1f1; */
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2px;
}
/*.supers{*/
    /*margin: 50px;*/
    /*justify-content: space-between;*/
/*}*/

.card{
    width: 240px;
    border: 1px solid rgba(161,161,161,0.63);
}
.card:hover{
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #433d53;
}
.card-img-top{
    width: 238px;
    height: 200px;
}
.btn-go{
    background-color: #ffab07;
    padding:10px ;
    display: inline-block;
    border-radius: 6px;
    color: white;
}
.btn-go:hover{

    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #433d53;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
article{
  background-color: rgb(245, 245, 245);
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  margin:  auto;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

/*_*.*produtos *.*_*/
/* ------------------ */
.Productos{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 0px;
    /*justify-content: space-between;*/
}

.cardPro{
    width: 160px;
    border: 1px solid #ddd;
    background: transparent;
}
.card-img-top-pro{
    width: 160px;
    height: 160px;
}
.card-img-top-pro:hover,
.cardPro:hover{
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.4);
}
/*_*.*produtos *.*_*/

/*_*.* fin de produtos *.*_*/


/*_*.*responsive cliente*.*_*/
/* -------------------------  */
@media (max-width:1200px) {
    .gallery--content{
        width: 100%;
        border-radius: 6px;
        grid-template-columns: repeat(3,1fr);
    }
    .supers{
    }
    .Productos{
        grid-template-columns: repeat(3,1fr);
        margin: 15px;
    }
}
@media (max-width: 1050px) {
    /*.supers{
        grid-template-columns: repeat(2,1fr);
        grid-gap:20px;
        width: 100%;
    }*/
        .gallery--content{
            grid-template-columns: repeat(2,1fr);
            grid-gap:20px;
            width: 100%;

        }
    .card{
        width: 100%;
    }
    .card-img-top{
        width: 100%;
    }
    .Productos{
        grid-template-columns: repeat(3,1fr);
        margin: 15px;
    }
}
@media (max-width: 800px) {
    .gallery--content{
        border-radius: 6px;
        grid-template-columns: repeat(2fr);
        padding-right: 10px;
    }
    .supers{
    }
    .mas{
    /*padding: 5px 2.5px;*/
    width: 28%;
    margin: 2px 8px;

    }
    .card{
        width: 100%;
    }
    .card-img-top{
        width: 100%;
    }
    .Productos{
        grid-template-columns: repeat(2,1fr);
        margin: 15px;
    }
}
@media (max-width: 768px) {
    .options{
        display: none !important;
    }
    .left{
        display: block;
    }
}
@media (max-width: 600px) {
    .menu--top{
        padding: 20px 0px;
        align-items: flex-start;
    }
    article{
        background-color: rgb(44, 185, 160);
    }
    .gallery--content{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        padding-right: 10px;
        /*display: none;*/
    }
    h1{
        padding-bottom: 20px;
        text-align: center;
    }
    .supers{
    }
    .card{
        width: 100%;
        /*height: 500px;*/
    }
    .card-img-top{
        width: 100%;
        height: auto;
    }
    .btn-go{
        width: 100%;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1.7rem;
        background-color: rgb(255, 194, 13);
    }
    .mas{
        display:none;
    }
    .Productos{
        grid-template-columns: repeat(2,1fr);
        margin: 15px;

    }
    .cardPro{
        background-color: rgb(254, 175, 0);
        margin: 10px 5px;
        justify-content: space-around;
        width: ;
    }
    #map{
        position: relative;
        text-align: center;
        width: 100%;
        /*margin-top:50px;*/
        margin-bottom: 50px;
    }
}
@media (max-width: 360px) {
    .supers{

    }
    .gallery--content{

        grid-template-columns: repeat(1,1fr);
        padding-right: 10px;
    }
    .Productos{
        grid-template-columns: repeat(1,1fr);
        margin: 15px;
        padding-bottom: 20px;
    }
    .card{
        margin: 10px;

    }
}
/**/

/*-*.**.*-*/
