@import "reset.css";
@import "color.css";
/*@import "responsicliente.css";*/
@import url('https://fonts.googleapis.com/css?family=Arimo|Catamaran|Montserrat|Noto+Sans|PT+Sans|Cabin|Robot');

section.container1k{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #f2f4f4;
}
/*-*.*Menú principal*.*-*/
.main--nav{
    max-width: 170px;
    min-width: 170px;
    min-height: 100vh;
    border-bottom: 3px solid darkorange;
    box-shadow: 10px 10px 0px 0px rgb(221, 221, 221);
}
.userProfile{
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
.userProfile--img{
    width: 70%;
    margin: 0 auto 20px;
}
.main--nav .info--nav nav ul{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #323232;
    /* box-shadow: 0 -5px 0 #d1d1d1; */
    margin-bottom: 40px;
}
 .main--nav .info--nav2 nav ul{
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    padding-top: 15px;
    padding-bottom: 40px;
 }
.main--nav nav ul a li{
    padding: 10px;
    padding-left:20px;
}

.main--nav nav ul a li:hover{
    background-color: #f2f4f4;
    color:  #1F2122;
    border-left: 5px solid darkorange;
    transition: 0.4s all;
}

.wrap--content{
    width: 100%;
}
.wrap--content .menu--top{
    display: flex;
    justify-content:flex-end;
    padding: 20px 0;
    background-color: #FEFEFE;
    border-bottom: 1px solid rgba(161, 161, 161, 0.63);
}
.wrap--content .menu--two{
    display: flex;
    justify-content:flex-end;
    padding: 20px 0;
    background-color: #FEFEFE;
    /* border-bottom: 1px solid rgba(50, 50, 50, 0.63); */
}

.wrap--content .menu--top ul{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.wrap--content article{
    background-color: #fefefe;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    margin: 30px auto;
    border-radius: 10px;
    color: #EBEBEB;
}
/*-*.* Fin de Menú principal*.*-*/
/*_*.*formulario produto*.*_*/
header{
    /
    margin: 5px 0px 20px 0px;
}
 header  h1{
  letter-spacing: -1.5px;
  font-size: 2.5rem ;
  padding-bottom: 20px;
  color: #433d53;

}
header .breadcrums ul{
    font-size: 19px;
    align-items: center;
    display: flex;
    padding: 20px 0px;
    color: #433d53;

}
header .breadcrums ul li a:after{
    content: " / ";
}
header .breadcrums ul li:last-child,
header .breadcrums ul li a:hover{
    color: #ff3e0f;
}

.close{
    position: absolute;
    top: 0;
    right: 25px;
    color: #aaa;
    font-size: 35px;
    display: none;
}

label{
  display: block;
  margin: 10px 0px 10px 0px;
  font-size: 1.1rem;
  color: #433d53;

}
input[type=text],
input[type=number],
textarea{
  padding: 6px;
  border-radius: 1px;
  border: 1px solid #ccc;
  width: 40%;
  outline: none;
}
select{
  padding: 7px;
  border-radius: 4px;
  outline: none;
  width: 20%;
}
input[type=text]:focus,
input[type=number]:focus,
textarea:focus,select:focus{
  border-color: #ff9036;
  transition: 0.3s;
}
/*_*.*Comienza  el dataGrid *.*_*/
input[type=search]{
    padding: 4px 4px;
    outline: none;
    border-radius: 3px;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 1rem;
    border: 2px solid #c3c3c3;
    outline: none;
}
.dataTables_length select{
    padding: 3px;
    border-radius: 1px;
    outline: none;
    width: 40%;
}
.tittledatag{
    background-color: #ff9036;
}
tbody tr{
color: #433d53;
background-color: rgb(196, 196, 196);
}

 tbody td{
    border: 1px solid rgba(30, 33, 33, 0.32);
    text-align:center;
}
.exit{
    color:rgb(0, 5, 252);
    font-size: 1rem;
}
.dataTable tbody.no-footer.even{
    background-color: rgb(119, 0, 255);

}
/* _*.* Fin dataGrid*.*_ */
.required::after{
  content: " * ";
  color: #fa7000;
}
.opcional::after{
  content: " (Opcional) ";
  color: rgb(191, 191, 191);
  font-family: 'Cabin';
}
.frmbtn{
  padding: 8px 10px;
  width: 30%;
  margin: 25px 0px ;
  outline: none;
  right:  10px;
  background-color: white;
  text-decoration: none;
  border: 2px solid #ff9036;
  border-radius: 4px;
}
.frmbtn:hover{
  background-color:#ff9036;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
  color:white;
}

/*_*.* fin de el formulario produto*.*_*/
