@import "reset.css";
@import "color.css";
@import url('https://fonts.googleapis.com/css?family=Arimo|Catamaran|Lato|Montserrat|Noto+Sans|PT+Sans|Raleway|Roboto:100,300,400 ');
body{ margin: 0;background-color: rgba(247, 252, 255, 0); }
 /* menutop  */
.menu{
  width: 100%;
  height: 55px;
  background-color: #000000;
  /* margin-top: 1.5%; */
  position: fixed;
  z-index: 1000;
  opacity: 0.8;
}
.icon--mobile {
  color: white;
  display: none;
  font-size: 35px;
  margin: 7px 0px 7px 12px;

}
.menu-res a{
  display:none;
  display:flex;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;

}
.logo--menu {
  width: 13%;
  margin: 0px 60px;
  position: fixed;
  z-index: 20000;
}
.logo--img{
  width: 75px;
  height: 50px;
}
.container--menu{
  margin-left: 20%;
  font-family: 'Roboto',sans-serif;
  z-index: 300px;
}
.container--menu2{
  margin-left: 80%;
  font-family: 'Roboto',sans-serif;
  z-index: 300px;
}
.menu a{
  display: block;
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
}
/*.menu a:hover{
}*/
.menu a:hover{
      background-color: #00604d;
      color: white;
      cursor: pointer;
}
/* Finaliza la parte del menu */
/* ------------------------------ */
.wrap--kep{
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content:
}
.kepp{
  border: 1px solid rgb(164, 164, 164);
  width: 500px;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
.kepp h3{

}
 .form-group #k{
  padding: 6px 8px;
  border-radius: 4px;
  border:1px solid rgb(161, 161, 161);
  outline: none;
  margin: 15px;
}
.form-group #sent{
  padding: 6px 10px;
  border-radius: 4px;
  border: 2px solid rgb(0, 159, 249);
  color:rgb(0, 159, 249);
  background: #fefefe;
  box-sizing: border-box;
  width: 90px;
  font-size: 15px;
  outline: none;
}
.form-group #sent:hover{ background-color: rgb(0, 159, 249); color: white; }
