@media (max-width:1200px) {
    .supers{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 1000px) {
    .supers{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 800px) {
    .supers{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 600px) {
    .supers{
        grid-template-columns: repeat(1,1fr);
    }
    .card{
        width: 100%;
    }
    .card-img-top{
        width: 100%;
    }
}
@media (max-width: 360px) {
    .supers{
        grid-template-columns: repeat(1,1fr);
    }
}
