RewriteEngine on

#la landing
RewriteRule ^inicio$ index.php?controller=views
RewriteRule ^cerrar-sesion$ index.php?controller=singOut&a=salir
RewriteRule ^nuevo-cliente$ index.php?controller=user&a=crear
RewriteRule ^super$ index.php?controller=views&a=super
RewriteRule ^recuperar$ index.php?controller=views&a=forgot
RewriteRule ^email$ index.php?controller=login&a=enviar
RewriteRule ^recupera$ index.php?controller=login&a=recuperar

#manual de usuario
RewriteRule ^explora$ index.php?controller=manual&a=explora
RewriteRule ^modulo1$ index.php?controller=manual&a=lorem
RewriteRule ^modulo1-r1$ index.php?controller=manual&a=mo1res1
RewriteRule ^modulo1-r2$ index.php?controller=manual&a=mo1res2
RewriteRule ^modulo1-r3$ index.php?controller=manual&a=mo1res3
RewriteRule ^modulo1-r4$ index.php?controller=manual&a=mo1res4
RewriteRule ^modulo1-r5$ index.php?controller=manual&a=mo1res5
RewriteRule ^modulo2$ index.php?controller=manual&a=modulo2
RewriteRule ^modulo2-r1$ index.php?controller=manual&a=mo2res1
RewriteRule ^modulo2-r2$ index.php?controller=manual&a=mo2res2
RewriteRule ^modulo3$ index.php?controller=manual&a=modulo3
RewriteRule ^modulo3-r2$ index.php?controller=manual&a=mo3res2
RewriteRule ^modulo3-r3$ index.php?controller=manual&a=mo3res3
RewriteRule ^modulo4$ index.php?controller=manual&a=modulo4
RewriteRule ^modulo4-r2$ index.php?controller=manual&a=mo4res2
RewriteRule ^modulo4-r3$ index.php?controller=manual&a=mo4res3
RewriteRule ^modulo4-r4$ index.php?controller=manual&a=mo4res4
RewriteRule ^modulo5$ index.php?controller=manual&a=modulo5
RewriteRule ^modulo6$ index.php?controller=manual&a=modulo6
#ReweiteRule ^modulo1r1$ index.php?controller=manual&a=mo1res2

#validar usuario en el login
RewriteRule ^validar$ index.php?controller=login&a=validar
RewriteRule ^validar_usuario$ index.php?controller=login&a=validar_usuario


#cliente
RewriteRule ^inicioCliente$ index.php?controller=views&a=inicioCliente
RewriteRule ^Ajustes$ index.php?controller=user&a=ajustes
RewriteRule ^Productos$ index.php?controller=product&a=Productos
RewriteRule ^actualizar-datosCli$ index.php?controller=user&a=updateClie&data=$1
RewriteRule ^detalle$ index.php?controller=product&a=detalleProduct
RewriteRule ^PorSupermercado-(\w+)$ index.php?controller=product&a=BySupermercado&data=$1
RewriteRule ^carritoCliente$ index.php?controller=product&a=carrito

#supermercado
RewriteRule ^inicioAdmin$ index.php?controller=views&a=inicioAdmin
RewriteRule ^mi-supermercado$ index.php?controller=views&a=mySuper
RewriteRule ^Proveedores$ index.php?controller=views&a=proveedores
RewriteRule ^Articulos$ index.php?controller=views&a=articulos
RewriteRule ^Información$ index.php?controller=views&a=informacion
RewriteRule ^Notificaciones$ index.php?controller=views&a=notificaciones
RewriteRule ^settings-Super$ index.php?controller=views&a=settingsSuper
#crud empleado
RewriteRule ^nuevo-empleado$ index.php?controller=user&a=crear
RewriteRule ^actualizar-empleado-(\w+)$ index.php?controller=user&a=actualizarEmpleado
RewriteRule ^ver-empleado$ index.php?controller=user&a=verEmple

#crud
RewriteRule ^guardar-super$ index.php?controller=supermercado&a=newSuper
RewriteRule ^editar-supermercado$ index.php?controller=views&a=updateSup
RewriteRule ^actualizar-super-(\w+)$ index.php?controller=views&a=updatesuper&data=$1
RewriteRule ^eliminar-supermercado-(\w+)$ index.php?controller=views&a=deleteSup&data=$1
RewriteRule ^guardar-provee$ index.php?controller=views&a=newProvee
RewriteRule ^eliminar-provee-(\w+)$ index.php?controller=views&a=deleteProv&data=$1
RewriteRule ^guardar-categoria$ index.php?controller=views&a=crearCategoria
RewriteRule ^eliminar-cate-(\w+)$ index.php?controller=views&a=deletecate&data=$1

RewriteRule ^actualizar-datos$ index.php?controller=views&a=update&data=$1
#CRUD empleado
RewriteRule ^Registrar-empleado$ index.php?controller=nworkers&a=registroEmpleado
RewriteRule ^Empleados$ index.php?controller=views&a=Workers

#empleado
RewriteRule ^InicioWorker$ index.php?controller=views&a=InicioWorker
RewriteRule ^settings-worker$ index.php?controller=views&a=settingsworker
RewriteRule ^Retrasos$ index.php?controller=views&a=retrasos
RewriteRule ^Pedidos$ index.php?controller=views&a=pedidos
RewriteRule ^ProveedoresEm$ index.php?controller=views&a=proveedoresEm
RewriteRule ^actualizar-datosEm$ index.php?controller=views&a=updateEm


#CRUD productos
RewriteRule ^nuevo-producto$ index.php?controller=product&a=crear
RewriteRule ^crearProduct$ index.php?controller=product&a=crearProduct
RewriteRule ^eliminar-tipo-(\w+)$ index.php?controller=product&a=deleteProductType&data=$1
RewriteRule ^eliminar-producto-(\w+)$ index.php?controller=product&a=deleteProduct&data=$1
RewriteRule ^Productos-empleado$ index.php?controller=product&a=Produtosviewsworker
RewriteRule ^actualizando-producto$ index.php?controller=product&a=updateProc
RewriteRule ^detalle-produc$ index.php?controller=prodcut&a=detalleProduct
RewriteRule ^actualizar-producto-(\w+)$ index.php?controller=product&a=updateProductos&data=$1&
#CRUD categoria
RewriteRule ^nueva-categoria$ index.php?controller=product&a=crearCategoria
RewriteRule ^createCategory$ index.php?controller=product&a=createCategory
RewriteRule ^actualizando-categoria$ index.php?c=product&a=updateCat
RewriteRule ^ver-categoria$ index.php?controller=product&a=detallecat
#CRUD proveedores
RewriteRule ^registrar-provee$ index.php?controller=product&a=createProvee
RewriteRule ^actualizar-provee-(\w+)$ index.php?controller=product&a=updateProvee&data=$1
RewriteRule ^actualizando-prove$ index.php?controller=product&a=updateProv
RewriteRule ^eliminar-Provee-(\w+)$ index.php?controller=product&a=deleteProvee&data=$1

#super administrador
RewriteRule ^InicioSuperAdmin$ index.php?controller=views&a=InicioSuperAdmin
RewriteRule ^Dashboard-Super$ index.php?controller=views&a=mainSuper
RewriteRule ^Contenido2$ index.php?controller=views&a=contendos
RewriteRule ^Permisos$ index.php?controller=views&a=permisos
RewriteRule ^Contenido$ index.php?controller=views&a=contenido
RewriteRule ^Configuraciones$ index.php?controller=views&a=configuraciones
RewriteRule ^InformaciónS$ index.php?controller=views&a=informacionS

#bajar subir archivo
RewriteRule  ^bajar$ index.php?controller=views&a=bajar
