  RewriteEngine on

#principal

RewriteRule ^inicio$ index.php?controller=views
RewriteRule ^ingreso$ index.php?controller=views&a=ingreso
RewriteRule ^master$ index.php?controller=views&a=master
RewriteRule ^registrosuper$ index.php?controller=views&a=registrosuper
RewriteRule ^nuevo-cliente$ index.php?controller=user&a=crear
RewriteRule ^super$ index.php?controller=views&a=super

RewriteRule ^validar$ index.php?controller=login&a=validar
RewriteRule ^validar_usuario$ index.php?controller=login&a=validar_usuario


#cliente
RewriteRule ^inicioCliente$ index.php?controller=product&a=inicioCliente
RewriteRule ^cerrar-sesion$ index.php?controller=singOut&a=salir
RewriteRule ^Productos$ index.php?controller=product&a=Productos
RewriteRule ^Supermercados$ index.php?controller=product&a=Supermercados


#admin
RewriteRule ^inicioAdmin$ index.php?controller=views&a=inicioAdmin
RewriteRule ^nuevo-producto$ index.php?controller=product&a=crear
RewriteRule ^nueva-categoria$ index.php?controller=product&a=crearCategoria
RewriteRule ^Productosadmin$ index.php?controller=product&a=Produtosviewsadmin
#CRUD productos
RewriteRule ^crearProduct$ index.php?controller=product&a=crearProduct
RewriteRule ^eliminar-producto-(\w+)$ index.php?controller=product&a=deleteProd&data=$1
#CRUD categoria
RewriteRule ^crear-categoria$ index.php?controller=product&a=createCategory
RewriteRule ^eliminar-tipo-(\w+)$ index.php?controller=product&a=deleteProductType&data=$1
RewriteRule ^updateProduct$ index.php?controller=views&a=updateProduct
