/*_*.*Responsi del inicio *.*_*/
/* ------------------------------- */
/*  Media screen de 1170px*/
@media (max-width:1170px) {
  .menu{
  background-color:black;
  }
  .icon--mobile{
    display: block;
  }
  .logo--menu{display: none;}
  .container--menu{display: none;}
  .container--menu2{display: none;}
}

/*  Media screen de 900px*/
@media (max-width:767px) {
  .setregistrarse{
    display:grid;
    grid-template-columns: (1,2fr);
  }
  .formtext{
    display:none;
  }
  .formpart{
      margin: 10px 0px 0px 10px;
      width: 95%;
      font-family:'Roboto', sans-serif;
      background-color: rgb(230, 230, 230);
      display: block;
  }
  .regis{
      margin:0px 10px ;
      padding-bottom: 10px;
      width: 100%;
      border-bottom: 2px solid #faac00 ;
      font-size: 25px;
      font-family: 'Noto_Sans', sans-serif;
  }
.frmregistro .form-gruop{
  display: block;
  width: 50%;
}
}
@media (max-width:575px) {
  .formpart{
  }

   .modal-content{
  width: 50%;
}
.close{
  /* position: sticky; */
}

  form .formgroup{
    display: block;
    background-color: rgb(21, 186, 247);
  }

}
