/* *_*.*responsive cliente*.*_*/
/* -------------------------  */
/* Media screen de 1200px  */
@media (max-width:1200px) {
    .gallery--content{
        width: 100%;
        border-radius: 6px;
        grid-template-columns: repeat(3,1fr);
    }
    .card{
      width: 300px;
    }
    .supers{
    }
    .Productos{
        grid-template-columns: repeat(3,1fr);
        margin: 15px;
    }
}
@media (max-width: 1100px) {
    /*.supers{
        grid-template-columns: repeat(2,1fr);
        grid-gap:20px;
        width: 100%;
    }*/
    .all{
      display: none;
    }
        .gallery--content{
            grid-template-columns: repeat(2,1fr);
            grid-gap:20px;
            width: 100%;

        }
    .card{
        width:85%;
        margin: 15px auto;
    }
    .card-img-top{
        width: 100%;
    }
    .Productos{
        grid-template-columns: repeat(3,1fr);
        margin: 15px;
    }
}
@media (max-width: 800px) {
    .gallery--content{
        border-radius: 6px;
        grid-template-columns: repeat(2fr);
        padding-right: 10px;
    }
    .supers{
    }
    .mas{
    /*padding: 5px 2.5px;*/
    width: 28%;
    margin: 2px 8px;

    }
    .card{
        width: 100%;
    }
    .card-img-top{
        width: 100%;
    }
    .Productos{
        grid-template-columns: repeat(2,1fr);
        margin: 15px;
    }
}
@media (max-width: 768px) {
    /* .options{
        display: none !important;
    } */
    .left{
        display: block;
    }
}
@media (max-width: 600px) {
    .menu--top{
        padding: 20px 0px;
        align-items: flex-start;
    }
    article{
        background-color: rgb(44, 185, 160);
    }
    .gallery--content{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        padding-right: 10px;
        /*display: none;*/
    }
    h1{
        padding-bottom: 20px;
        text-align: center;
    }
    .supers{
    }
      /* .buscador{display: block; background-color: red; width:100%; text-align:center; padding: 5px;}
      .buscador .sch{display: block;} */
    .card{
        width: 100%;
        /*height: 500px;*/
    }
    .card-img-top{
        width: 100%;
        height: auto;
    }
    .btn-go{
        width: 100%;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1.7rem;
        background-color: rgb(255, 194, 13);
    }
    .mas{
        display:none;
    }
    .Productos{
        grid-template-columns: repeat(2,1fr);
        margin: 15px;

    }
    .cardPro{
        background-color: rgb(254, 175, 0);
        margin: 10px 5px;
        justify-content: space-around;
        width: ;
    }
    #map{
        position: relative;
        text-align: center;
        width: 100%;
        /*margin-top:50px;*/
        margin-bottom: 50px;
    }
}
@media (max-width: 360px) {
    .supers{

    }
    .gallery--content{
        grid-template-columns: repeat(1,1fr);
        margin:5px;
    }
    .Productos{
        grid-template-columns: repeat(1,1fr);
        margin: 15px;
        padding-bottom: 20px;
    }
    .buscador{
      display: block;
      background-color: blue;
      width:90%;
      align-items: center;
      padding: 5px;}
    .buscador .sch{display: block; width: 90%; text-align: center;}
    .card{
        /* margin: 10px; */
        width: 90%;

    }
}
/**/

/*-*.**.*-*/
